img {
  width: 100px;
  margin: 0 auto;
}

p {
  display: none;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* div * {
  justify-content: center;
} */

div.active {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

div.active img {
  height: 400px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  z-index: 200;
}

div.active p {
  background: #f5f5f5;
  color: #111;
  display: block !important;
  left: 0;
  margin: auto;
  padding: .5em 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: calc(50% + 200px);
  transform: translateY(-50%);
  width: 400px;
  z-index: 200;
}

div.active h2 {
  display: none;
}

div.active:after {
  background: #000;
  bottom: 0;
  content: 'a';
  left: 0;
  opacity: .6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
