<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/styles/modules/searches/new.css">
  </head>
  <body>
    <% include ../../partials/header %>
    <main>
        <h4 class="view-title">Search by Title or Author</h4>
        <form id="create-form" action="/searches" method="post">
          <input type="text" name="search" placeholder="Enter a title or author">
          <fieldset>
            <label for="title">Title</label>
            <input type="radio" id="title" name="title">
          </fieldset>
          <fieldset>
            <label for="author">Author</label>
            <input type="radio" id="author" name="author">
          </fieldset>
          <button class="lng-btn" type="submit">Search the Google Books API</button>
        </form>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>
