div {
  border: 10px solid yellow;
  overflow: hidden;
}

li { 
  border: 1px solid red;
  float: left;
  height: 25px;
  width: 100px;
}

/* Demonstrate in Code Pen with the output collapsed */

/* Float:left will take the list items out of normal flow, so the div will compress and the border will appear as a yellow line across the screen */

/* Solution: add overflow:hidden to the div */
