header {
  background-color: #444;
  width: 100%;
}

header div {
  height: 10vw;
}

header img {
  display: inline-block;
  max-width: 10%;
  padding-left: 5%;
}

li {
  margin: 5vw;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #444;
  height: 10vw;
  width: 100%;
}

#hide-me {
  display: none;
}

#show-me {
 display: inline-block;
}
