<footer>
  <ul>
    <li><i class="icon-mail2"><a href=""></a></i></li>
    <li><i class="icon-twitter"><a href=""></a></i></li>
    <li><i class="icon-github"><a href=""></a></i></li>
    <li><i class="icon-linkedin2"><a href=""></a></i></li>
  </ul>
</footer>
