<header>
  <div class="header-content">
    <h1>My Books</h1>
    <div class="icon-menu"></div>
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a href="/api/v1/books">Home</a></li>
      <li><a href="/api/v1/books/add">Add a New Book</a></li>
    </ul>
  </nav>
</header>
